html,
body {
  font-family: sans-serif;
  margin: 0;
  --main-spacing: 15px 5px 10px 5px;
  --header-footer-spacing: 10px 5px;
}

#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  > header,
  > footer {
    padding: var(--header-footer-spacing);
    background-color: lightblue;
    grid-area: footer;
    text-align: center;
  }
  > nav {
    background-color: lightblue;
  }
  > header {
    grid-area: header;
    a {
      margin-right: 20px;
      cursor: pointer;

      &.disabled {
        cursor: default;
        opacity: 0.5;
      }
    }

    .app-logo {
      width: 100px;
      float: left;
    }

    .search-container {
      float: left;
      margin-left: 50px;
    }

    input[type="text"] {
      padding: 6px;
      margin-top: 35px;
      font-size: 17px;
      border: none;
      width: 600px;
      vertical-align: middle;
    }

    .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 35px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
  }

  > main {
    grid-area: main;
    padding: var(--main-spacing);

    #show-products-btn {
      margin-bottom: 20px;
    }

    .pagination-container {
      text-align: center;
      padding: 1.5%;

      button {
        padding: 8px 16px;
        text-decoration: none;
        margin-right: 1%;
        border: none;
      }

      button:hover {
        background-color: gray;
      }

      button.active {
        background-color: #7cb9e8;
      }
    }

    .slider-columns {
      width: 100%;
      display: flex;

      > * {
        width: calc(100% / 3);
      }

      > * > img {
        width: 541px;
      }

      > * > h5 {
        margin: 0px;
      }
    }

    .slider_controls button {
      margin-right: 1%;
      min-width: 70px;
    }

    .carousel_controls button {
      margin-right: 1%;
      min-width: 80px;
    }

    .grid-columns {
      display: flex;
      flex-wrap: wrap;

      > * {
        flex-grow: 1;
        width: 20%;
      }

      > * > img {
        padding-top: 15px;
        width: 150px;
      }
    }

    .loader {
      font-size: 60px;
      padding: 20px;
    }

    .product-list-wrapper {
      display: grid;
      grid-template-columns: 0.1fr 1fr;
    }

    .product-list-wrapper aside {
      padding: 1.5%;
      ul {
        list-style: none;
        padding-inline-start: 0px;
      }
    }

    .card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 70%;
      margin: auto;
      text-align: center;
      font-family: arial;
    }

    .grid-section {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 300px;
      margin: 0.2%;
      text-align: center;

      .shopping-controls {
        button {
          border: none;
          outline: 0;
          display: inline-block;
          padding: 8px;
          color: white;
          background-color: #7cb9e8;
          text-align: center;
          cursor: pointer;
          width: 100%;
          font-size: 18px;
        }

        a {
          text-decoration: none;
          font-size: 22px;
          color: black;
        }

        margin-top: 15px;
      }

      .counter {
        background-color: #7cb9e8;

        button {
          width: 10px;
          padding-right: 30px;
        }

        input {
          width: 30px;
        }
      }

      .btn-details {
        color: #fff;
        background-color: #7cb9e8;
        border: none;
        outline: 0;
        padding: 8px;
      }

      button:hover,
      a:hover {
        opacity: 0.7;
      }
    }

    .product-card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      max-width: 400px;
      margin: auto;
      text-align: center;
      font-family: arial;

      .tag {
        margin: 0px 8px;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
        text-align: center;
      }

      .blue-tag {
        color: #fff !important;
        background-color: #2196f3 !important;
      }

      .green-tag {
        color: #fff !important;
        background-color: #009688 !important;
      }

      .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }

      .swiper-slide {
        background-position: center;
        background-size: cover;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }

      .price {
        color: grey;
        font-size: 22px;
      }

      button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #7cb9e8;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
      }

      button:hover {
        opacity: 0.7;
      }

      .counter {
        background-color: #7cb9e8;

        button {
          width: 10px;
          padding-right: 30px;
        }

        input {
          width: 30px;
        }
      }

      .description {
        text-align: left;
        padding: 3%;
      }

      .table-specs {
        .row {
          margin-left: -5px;
          margin-right: -5px;
        }

        .column {
          float: left;
          width: 50%;
          padding: 5px;
        }

        /* Clearfix (clear floats) */
        .row::after {
          content: "";
          clear: both;
          display: table;
        }

        table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }

        th,
        td {
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2;
        }
      }
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
